# ملفات الاتصال بقاعدة البيانات (حساسة جداً، لا ترفعيها)
config/db.php
config/conn.php
.env

# مجلدات المكتبات والملفات المؤقتة
vendor/
storage/

# ملفات الإعدادات الخاصة بمحرر الأكواد
.vscode/

# ملفات السجلات والأنظمة
*.log
.DS_Store
Thumbs.db